@import'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
*{margin:0;padding:0}

body{
	overflow:auto;font-family: 'Ropa Sans', sans-serif
}

#nav-fix{
	width:40px;top:38%;position:fixed;left:0;z-index:9999
}

#nav-fix li{
	height:20px;width:20px;border-radius:50%;box-shadow:inset 0 0 5px #000;margin:10px;list-style:none;position:relative;transition:all 250ms ease;color:#fff
}

#nav-fix li span{
	position:relative;
	background:#000;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;font-size:13px;
	height:24px;
	border-radius:2px;
	width:90px;
	text-align:center;
	line-height:24px;
	margin-left:40px;
	top:-22px;
	display:block;
	transition:all 250ms ease;
	opacity:0
}

#nav-fix li span:after{
	content:'';
	position:absolute;
	height:10px;
	width:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	left:-4px;
	background:#000;top:7px
}

#nav-fix li:hover span{
	margin-left:30px;opacity:1
}

#nav-fix li label{
	display:block;cursor:pointer;height:20px;width:20px
}

#nav-fix li label i.fa{
	height:20px;width:20px;text-align:center;line-height:20px;font-size:10px
}

.tab{
	height:100%;width:100%;position:fixed;transition:all 1000ms ease;
	//padding:30px 50px;box-sizing:border-box;
}

.tab1{
	background:#FF0;left:0%
}

.tab2{
	background:url(tbg.jpg)#F90;left:100%
}

.tab3{
	background:url(tbg2.jpg)#096;left:200%
}

.tab4{
	background:url(tbg3.jpg)#603;left:300%
}

input[type="radio"]{display:none}

#nav-fix li:hover,
#tab1:checked~#nav-fix li:nth-child(1),
#tab2:checked~#nav-fix li:nth-child(2),
#tab3:checked~#nav-fix li:nth-child(3),
#tab4:checked~#nav-fix li:nth-child(4){
	box-shadow:inset 0 0 15px #000
}


.title{
	left:0%;
	width:100%;
	top:100%;
	height: 90px;
	text-align:left;
	line-height:95px;
	position:fixed;
	color:#FFF;
	padding-left: 100px;
	font-size:50px;
	background:#000;
	z-index:10;
	//text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.content{
	width:100%;
	height:100%;
	overflow:auto;
	font-size:30px;
	position:relative;
}

#tab1:checked~.tab1{left:0%}
#tab1:checked~.tab2{left:100%}
#tab1:checked~.tab3{left:200%}
#tab1:checked~.tab4{left:300%}
#tab1:checked~.tab1 >.title{left:0%;top:initial;bottom:0%;transition:all 1500ms ease;}

#tab2:checked~.tab1{left:-100%}
#tab2:checked~.tab2{left:0%}
#tab2:checked~.tab3{left:100%}
#tab2:checked~.tab4{left:200%}
#tab2:checked~.tab2 >.title{top:20px;transition:all 1500ms ease;}

#tab3:checked~.tab1{left:-200%}
#tab3:checked~.tab2{left:-100%}
#tab3:checked~.tab3{left:0%}
#tab3:checked~.tab4{left:100%}
#tab3:checked~.tab3 >.title{top:20px;transition:all 1500ms ease;}

#tab4:checked~.tab1{left:-300%}
#tab4:checked~.tab2{left:-200%}
#tab4:checked~.tab3{left:-100%}
#tab4:checked~.tab4{left:0%}
#tab4:checked~.tab4 >.title{top:20px;transition:all 1500ms ease;}

@media(max-height:600px){
.title{
	height: 60px;
	line-height:62px;
	padding-left: 60px;
	font-size:30px;
}
} 