@import'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
*{margin:0;padding:0}

body{
	overflow:auto;font-family: 微軟正黑體,'Ropa Sans', sans-serif
}
.mobiletitle{
	display:none;
	margin-left:auto;
}
#nav-fix{
	position:fixed;width:auto;top:25%;left:calc(15% - 140px);z-index:9999;transition:all 250ms ease;
}

#nav-fix-drag{
	display:none;
}

#nav-fix li{
	height:25px;
	width:25px;
	border-radius:50%;
	box-shadow:inset 0 0 5px #000;
	margin:20px;
	list-style:none;
	position:relative;
	transition:all 250ms ease;
	color:#FFF;
	background:rgba(0,0,0,1);
}

#nav-fix li span{
	position:relative;
	background:#000;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;font-size:15px;
	height:25px;
	border-radius:2px;
	width:90px;
	text-align:center;
	line-height:25px;
	margin-left:45px;
	top:-25px;
	display:block;
	transition:all 250ms ease;
}

#nav-fix li span:after{
	content:'';
	position:absolute;
	height:10px;
	width:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	left:-4px;
	margin-top:1px;
	background:#000;top:7px
}

#nav-fix li:hover span{
	margin-left:35px;opacity:1
}

#nav-fix li label{
	display:block;cursor:pointer;height:25px;width:25px
}

#nav-fix li label i.fa{
	height:25px;width:25px;text-align:center;line-height:25px;font-size:15px
}

.tab{
	height:100%;width:100%;position:fixed;transition:all 1000ms ease;
	left:100%;
	background:rgba(255,255,255,1);
	//padding:30px 50px;box-sizing:border-box;
}

.tab_back{
	position:absolute;width:100%;height:100%;z-index:-100;opacity:0.6;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#back2{background-image:url("somepics/deskBack1.jpg");}
#back3{background-image:url("somepics/deskBack2.jpg");}
#back4{background-image:url("somepics/deskBack3.jpg");}

input[type="radio"]{display:none}

#nav-fix li:hover,
#tab1:checked~#nav-fix li:nth-child(1),
#tab2:checked~#nav-fix li:nth-child(2),
#tab3:checked~#nav-fix li:nth-child(3),
#tab4:checked~#nav-fix li:nth-child(4){
	box-shadow:inset 0 0 20px #000
}


.title{
	width:95%;
	top:100%;
	height: auto;
	text-align:right;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5%;
	position:fixed;
	color:#fff;
	font-size:35px;
	background:rgba(0,0,0,1);
	z-index:10;
	vertical-align:bottom;
	//text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.tab1 pre{font-size:14px;}

#tab1:checked~.tab1{left:0%}
#tab1:checked~#nav-fix{left:0%;}
#tab1:checked~.tab1 >.title{left:0%;top:auto;bottom:0%;transition:all 1500ms ease;}

#tab2:checked~.tab2{left:0%}
#tab2:checked~.tab2 >.title{top:20px;transition:all 1500ms ease;}

#tab3:checked~.tab3{left:0%}
#tab3:checked~.tab3 >.title{top:20px;transition:all 1500ms ease;}

#tab4:checked~.tab4{left:0%}
#tab4:checked~.tab4 >.title{top:20px;transition:all 1500ms ease;}

/*** ID ***/
#TimerTitle{
	text-align:center;
	position:relative;
	top:20%;
	font-size:50px;
}

#indexLogo{
	position:relative;
	top:20%;
	left:40%;
	width:20%;
	height:auto;
	display:block
}
/* tab2 */
#tab2_Content{
	width:70%;
	height:60%;
	left:15%;
	top:20%;
	overflow:auto;
	font-size:30px;
	position:relative;
	padding:40px 20px;
	text-align:center;
	background:rgba(0,0,0,0.5);
	border-radius:2px;
	box-shadow:0px 0px 5px 10px rgba(0,0,0,0.5);
	color:white;
}
.td_title{
	font-size:25px;padding-right:25px;color:#fff;
}
.td_text{
	font-size:16px;padding-right:25px;line-height:32px;
}

/* tab3 */
#tab3_Content{
	width:70%;
	height:60%;
	left:15%;
	top:20%;
	overflow:auto;
	font-size:30px;
	position:relative;
	padding:40px 20px;
	text-align:center;
	background:rgba(0,0,0,0.5);
	border-radius:2px;
	border-style:none;
	box-shadow:0px 0px 5px 10px rgba(0,0,0,0.5);
	color:white;
}

.tab3_title{
	font-size:30px;
	line-height:0px;
}

.tab3_text{
	font-size:18px;
	line-height:45px;
}

#accupassPic{
	width:210px;
	height:40px;
	padding:10px;
	border-style:solid;
	border-color:#99CCFF;
	border-radius:10px;
	background-color:rgba(255,255,255,0.8);
}

/* tab4 */
#tab4_Content{
	width:70%;
	height:60%;
	left:15%;
	top:20%;
	overflow:auto;
	font-size:30px;
	position:relative;
	padding:40px 20px;
	text-align:center;
	background:rgba(0,0,0,0.5);
	border-radius:2px;
	border-style:none;
	box-shadow:0px 0px 5px 10px rgba(0,0,0,0.5);
	color:white;

}

.tab4_title{
	width:25%;
	height:auto;
	line-height:0px;
}

.tab4_subtitle{
	font-size:20px;
	line-height:45px;
}

.tab4_image{
	position:relative;
	width:45%; 
	height:auto;
	display:inline-box;
}